
<div ng-controller="clienteController">
    <div class="panel">
        <div class="panel-menu admin-form theme-primary">
            <div class="row" data-animate="[" 500","fadeIn"]">
                <div class="col-md-1">
                    <label class="append-icon">
                        <button href="#" class="btn btn-primary btn-alt fs13 active-animation" data-effect="mfp-flipInX" ng-click="exibirModal('novoContato.html')">
                            Criar cliente  &nbsp;
                            <i class="fa fa-plus right"></i>
                        </button>
                    </label>
                </div>
                <div class="col-md-7"></div>
                <div class="col-md-4">
                    <label class="append-icon">
                        <input type="text" class="gui-input" placeholder="Filtrar contato..." ng-model="filtro" />
                        <label class="field-icon">
                            <i class="fa fa-search"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                    <thead>
                        <tr class="bg-light">
                            <th class="text-center">Selecionar</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="cliente in listaDeClientes | filter : filtro">
                        <tr>
                            <td class="col-sm-1 text-center">
                                <label class="option block mn">
                                    <input type="checkbox" />
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td class="col-sm-1">{{cliente.nome}}</td>
                            <td class="col-sm-1">{{cliente.email}}</td>
                            <td class="col-sm-1">{{cliente.telefone}}</td>
                            <td class="col-md-3">
                                <button class="btn btn-primary btn-alt fs14" ng-click="exibirSucesso('Cliente ativado! =)')">Ativar/Desativar</button>
                                <button class="btn btn-primary btn-alt fs14" ng-click="editarCliente(cliente)">Editar</button>
                                <button class="btn btn-primary btn-alt fs14" ng-click="exibirErro('Erro ao excluir')">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="novoContato.html">
        <div class="modal fade panel panel-primary" ng-controller="clienteController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="admin-form theme-primary">
                        <div class="panel heading-border panel-primary">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span>Novo Cliente</span>
                                </div>
                                <form name="novoContato" ng-submit="criarCliente()">
                                    <div class="row">
                                        <label><strong>Tipo do cliente:</strong> </label>
                                        <br />
                                        <div class="section mv15">
                                            <div class="option-group field">
                                                <div class="col-md-4">
                                                    <label class="option option-primary">
                                                    <input type="checkbox" checked="checked" ng-model="novoCliente.tipoCliente">
                                                    <span class="checkbox"></span>Cliente</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="option option-primary">
                                                    <input type="checkbox" ng-model="novoCliente.tipoFornecedor">
                                                    <span class="checkbox"></span>Fornecedor</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="option option-primary">
                                                    <input type="checkbox" ng-model="novoCliente.tipoParceiro" >
                                                    <span class="checkbox"></span>Parceiro</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" class="gui-input" placeholder="Nome do contato" ng-model="novoCliente.nome" ng-required="true" >
                                                    <label  class="field-icon">
                                                        <i class="fa fa-user"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" class="gui-input" placeholder="Email para contato" ng-model="novoCliente.email">
                                                    <label class="field-icon">
                                                        <i class="fa fa-envelope"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" class="gui-input" placeholder="Telefone" ng-model="novoCliente.telefone">
                                                    <label class="field-icon">
                                                        <i class="fa fa-phone"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" class="gui-input" placeholder="Celular" ng-model="novoCliente.celular">
                                                    <label class="field-icon">
                                                        <i class="glyphicon glyphicon-phone"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-success btn-alt btn-block fs13">
                                                Criar contato  &nbsp;
                                                <i class="fa fa-save"></i>
                                            </button>
                                        </div>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="visualizarContato">
        <div class="modal fade panel panel-primary" ng-controller="clienteController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="admin-form theme-primary">
                        <div class="panel heading-border panel-primary">
                            <div class="panel-body bg-light">
                                <div class="section-divider mb40" id="spy1">
                                    <span>Editar contato</span>
                                </div>
                                <form name="editarContato">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="section">
                                                <div class="form-group">
                                                    <label>Tipo do contato: </label><br />
                                                </div>
                                                <div class="checkbox-custom mb5">
                                                    <input type="checkbox" checked="" id="checkboxDefault3">
                                                    <label for="checkboxDefault3">Default</label>
                                                </div>
                                                <div class="radio-custom square mb5">
                                                    <div class="col-md-4 radio-custom square mb5">
                                                        <input type="radio" id="tipoContatoCliente" name="tipoContato" checked="{{contatoParaEditar.tipoCliente}}">
                                                        <label for="tipoContato">Cliente</label>
                                                    </div>
                                                    <div class="col-md-4 radio-custom square mb5">
                                                        <input type="radio" id="radioExample13" name="radioExample" checked="{{contatoParaEditar.tipoFornecedor}}">
                                                        <label for="tipoContato">Fornecedor</label>
                                                    </div>
                                                    <div class="col-md-4 radio-custom square mb5">
                                                        <input type="radio" id="radioExample13" name="radioExample" checked="{{contatoParaEditar.tipoParceiro}}">
                                                        <label for="tipoContato">Parceiro</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="Nome do contato">
                                                    <label for="firstname" class="field-icon">
                                                        <i class="fa fa-user"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="Email para contato">
                                                    <label for="firstname" class="field-icon">
                                                        <i class="fa fa-envelope"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="Telefone">
                                                    <label for="firstname" class="field-icon">
                                                        <i class="fa fa-phone"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="Celular">
                                                    <label for="firstname" class="field-icon">
                                                        <i class="glyphicon glyphicon-phone"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-success btn-alt btn-block fs13" ng-click="criarContato(novoContato)">
                                            Criar contato  &nbsp;
                                            <i class="fa fa-save"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>


